a{
    color: #000;
}

.paginate-style{
    margin: 20px auto!important;
}
.header-icon{
    color: #1c1c1c; 
    font-size: 17px;
}

/* .sidebar-r {
     height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 5%;
    background-color: #f5f7fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
  } */
  
  
.sidebar-r {
    /* height: 100%; */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 15.7%;
    left: 12%;
    background-color: #f5f7fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }
  
  .sidebar-r a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar-r a:hover {
    color: #f77b0b;
  }
  
  .sidebar-r .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 14px;
    cursor: pointer;
    background-color: #f5f7fa;
    color: #000;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #e2e5ec;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.header-banner{
    width: 100%;
    height: 406px;
}
.sidebar{
    position: fixed;
    width: 12.7%;
    z-index: 999;
    transition: all 0.3s ease;  
}
.sidebar-title{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.sidebar-subtitle{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.header-icon-text{
    color: #000; 
    font-size: 17px;
}
.banner1{
    width:100%; 
    height: 400px;
}
.ad-menu{
    /* color:#8f8787 !important; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.menu-text-hover:hover{
    color: #f77b0b;
}
.sidebar.sticky{
    background: white;
    opacity: 0.9;
    color: #000;
    top: 9%;
    transition: all 0.3s ease;
}
.sidebar-r.sticky{
    /* background: white; */
    opacity: 0.9;
    /* color: #000; */
    top: 8%;
    /* transition: all 0.3s ease; */
}
.btn-post{
    color:#fff;
    background-color:#F05123 !important;
    font-size: 21px; 
    font-family: 'Roboto', sans-serif;
    border:0px;
    border-radius:10px;
    font-weight: bold;
}
.btn-post:hover{
    background-color: #572c84!important;
    color: #fff;
}
.icon-social-style-f{
    color: #fff;
    font-size: 18px;
    background: #000;
    padding: 3px 5px;
}
.icon-social-style-in{
    color: #fff;
    font-size: 18px;
    background: #000;
    padding: 3px 5px;
}
.icon-social-style-t{
    color: #fff;
    font-size: 18px;
    background: #000;
    padding: 3px 5px;
}
.icon-social-style-link{
    color: #fff;
    font-size: 18px;
    background: #000;
    padding: 3px 5px;
}
.icon-social-style-y{
    color: #fff;
    font-size: 18px;
    background: #000;
    padding: 3px 5px;
}
.front-banner{
    height: 450px;
    object-fit: cover;
}
.saleimg{
    width:100%; 
    height: 230px;
}
.saleimg-mt{
    width:100%; 
    height: 230px;
}
.custom_logo{
    height: 90px; 
    width: 210px;
}
.footer-logo-text{
    font-size:14px; 
    font-family: 'Roboto', sans-serif; 
    text-align: justify;
}
.text-font{
    color:#000; 
    font-size: 18px; 
    font-weight: 500;
}
.footer-text-p{
    font-size:14px;
    color:#000;
}

@media only screen and (max-width:375px) and (min-width:320px){
    .sidebar-r {
        top: 7.5%!important;
        left: 0%;
    }
    .header-icon{
        font-size: 12px;
    }
    .header-icon-text {
        font-size: 9px;
    }
    .header-icon {
        font-size: 10px;
    }
    .navbar-toggler {
        font-size: 0.7rem;
    }
    .openbtn {
        font-size: 9px;
    }
    .header-banner {
        height: 160px!important;
    }
    .banner1 {
        height: 160px;
    }
    .bbb_viewed_image {
        width: 150px!important;
    }
    .bbb_viewed_image-2 {
        width: 150px!important;
    }
    .saleimg {
        height: 150px;
    }
    .text-font {
        font-size: 10px;
    }
    .footer-text-p {
        font-size: 13px;
    }
    .custom_logo {
        height: 80px;
        width: 150px;
    }
    .btn-post {
        font-size: 12px;
    }
    .ad-menu {
        font-size: 12px;
    }
}
@media only screen and (max-width:425px) and (min-width:375px){
    .sidebar-r {
        top: 7.5%!important;
        left: 0%;
    }
    
    .header-icon-text {
        font-size: 9px;
    }
    .header-icon {
        font-size: 10px;
    }
    .navbar-toggler {
        font-size: 0.7rem;
    }
    .openbtn {
        font-size: 9px;
    }
    .header-banner {
        height: 200px!important;
    }
    .banner1 {
        height: 200px;
    }
    .bbb_viewed_image {
        width: 170px!important;
    }
    .bbb_viewed_image-2 {
        width: 170px!important;
    }
}

@media only screen and (max-width:767px) and (min-width:425px){
    .sidebar-r {
        top: 12%!important;
        left: 0%;
    }
    .sidebar-r.sticky{
        opacity: 0.9;
        top: 8%!important;
        transition: all 0.3s ease;
    }
    /* .bbb_viewed_image {
        width: 180px;
    }
    .bbb_viewed_image-2 {
        width: 180px;
    } */
    .header-banner {
        height: 260px!important;
    }
    .banner1 {
        height: 260px;
    }
}
  
@media only screen and (max-width:991px) and (min-width:768px){
    .front-banner {
        height: 350px;
        object-fit: unset;
    }
    /* .custom_logo{
        text-align: center;
        margin: auto;
        display: block;
    } */
    .footer-logo-text{
        width: 66%;
        font-size: 18px;
        line-height: 40px;
    }
    .text-font{
        margin-left: 20px;
    }
    .footer-text-p{
        margin-left: 20px;
        font-size: 15px;
        line-height: 30px;
    }
    .saleimg{
        width:100%; 
        height: 100%;
    }
    .saleimg-mt{
        width:100%; 
        height: 100%;
        margin-top: 25px;
    }
    .sidebar-r {
        top: 14%;
        left: 0%;
    }
    .sidebar-r.sticky{
        opacity: 0.9;
        top: 8%;
        transition: all 0.3s ease;
    }
    .bbb_viewed_image {
        width: 180px!important;
    }
    .bbb_viewed_image-2 {
        width: 180px!important;
    }
    .header-banner {
        height: 350px!important;
    }
    .banner1 {
        height: 350px;
    }
    
}

@media only screen and (max-width: 1200px) and (min-width:992px){
    .ad-menu{
        font-size: 15px;
    }
    .banner1{
        width:100%; 
        height: 320px;
    }
    .header-banner {
        width: 100%;
        height: 387px;
    }
    .front-banner {
        height: 370px;
        object-fit: unset;
    }
    .btn-post {
        font-size: 15px;
    }
    .header-icon-text{
        font-size: 15px;
    }
    .sidebar.sticky {
        top: 8%;
    }
    .sidebar {
        width: 17%;
    }
    .bbb_viewed_image {
        width: 200px!important;
        height: 100%;
    }
    .bbb_viewed_image-2 {
        width: 200px!important;
        height: 175px!important;
    }
    .saleimg{
        width:100%; 
        height: 100%;
    }
    .saleimg-mt{
        width:100%; 
        height: 100%;
    }
    .fs-md-13{
        font-size: 11px!important;
    }
    .sidebar-title {
        font-size: 13px;
    }
    .sidebar-subtitle{
        font-size: 12px;
    }
    .d-none-cat {
        display: none !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .sidebar.sticky{
        top: 8%;
    }
    .sidebar {
        width: 16.7%;
    }
    .d-none-cat {
        display: none !important;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .sidebar.sticky{
        top: 7.2%;
    }
    .d-none-cat {
        display: none !important;
    }
}








.bbb_main_container{
    /* padding: 15px; */
    position: relative;
    z-index: 1;
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}

.bbb_viewed_prev {
    position: absolute;
    top: 45%;
    z-index: 2;
    left: 1%;
}
.bbb_viewed_prev_2 {
    position: absolute;
    top: 45%;
    z-index: 2;
    left: 1%;
}

.bbb_viewed_next {
    position: absolute;
    top: 45%;
    z-index: 2;
    right: 2%;
}
.bbb_viewed_next_2 {
    position: absolute;
    top: 45%;
    z-index: 2;
    right: 2%;
}

.bbb_viewed_slider_container {
    padding-top: 13px;
}

.bbb_viewed_item {
    width: 100%;
    /* background: #FFFFFF; */
    border-radius: 2px;
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    /* padding-left: 30px; */
    padding-right: 10px;
}

.bbb_viewed_image {
    width: 225px;
    height: 100%;
    /* object-fit: cover; */
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_image-2 {
    width: 225px;
    height: 100%;
    /*object-fit: cover;*/
    background: #fff;
}

.bbb_viewed_image-2 img {
    display: block;
    max-width: 100%;
    height: 100%;
}
   
   
   
   .header-top-bg {
        background-color: #f4f4f4!important;
    }
    .under-header-bg {
        background-color: #eaeaea;
    }

    .search-bg {
        background-color: #f1f1f1 !important;
        border-color: #ccc !important;
    }
    .category-shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    .under-header-bg{
        background-color: #572c84;
    }
    .cat-hover ul li:hover {
        color: #fff;
    }
    @media only screen and (min-width: 320px) and (max-width: 991.98px) {
        .bannar1 {
            width: 100%;
            height: 200px;
        }
        .bannar2 {
            width: 100%;
            height: 190px;
        }
        .bannar3 {
            width: 100%;
            height: 190px;
        }
        .main-holder {
            margin-top: 10%;
            width: 100%;
            border-radius: 15px;
            box-shadow: 0 24px 45px -15px rgba(161, 159, 219, 0.41);
            background-color: #ffffff;
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .category {
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;
            margin-bottom: 24px;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            box-shadow: 0 8px 15px -10px #8fbcff;
            padding-bottom: 15px;
        }
    }
    .pad-lef {
                padding-left: 0px !important;
            }

            h6 {
                margin-top: 5px;
            }
            .boxx {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                margin: 8px 0;
                width: 100%;
                min-height: 175px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
                border-radius: 5px !important;
                transition: all .2s ease-in-out;
                color: #fff;
            }
            .boxx:hover {
                transition: all .2s ease-in-out; 
                transform: scale(1.1); 
            }

            @media only screen and (min-width:767px) and (max-width:1260px) {
                .boxx {
                    min-height: 110px;
                    padding: 30px;
                }
            }
            @media only screen and (min-width:1024px) and (max-width:1208px) {
                .boxx {
                    min-height: 110px;
                    padding: 20px;
                }
            }
            @media only screen and (min-width: 992px) {
                .marleft {
                    margin-left: 210px !important;
                }
            }

            @media only screen and (min-width: 1024px) and (max-width:1100px) {
                .marleft {
                    max-width: 720px;
                }
            }

            @media only screen and (min-width: 1100px) and (max-width:1280px) {

                .marleft {
                    max-width: 800px;
                }
            }

            
            @media only screen and (min-width: 1201px) and (max-width:1369px) {
                .bbb_viewed_image {
                    width: 245px!important;
                }

                .bbb_viewed_image-2 {
                    width: 245px!important;
                }
            }

            @media only screen and (min-width: 1100px) and (max-width:1200px) {
                .bbb_viewed_image {
                    width: 225px!important;
                }

                .bbb_viewed_image-2 {
                    width: 225px!important;
                }
            }


            @media only screen and (min-width: 1920px) {
                .marleft {
                    margin-left: 310px !important;
                }
            }

            .f-icon {
                font-size: 22px;
                color: #d40000;
            }

            .box4 {
                /*border-right:1px solid #2e2e2e ;*/
            }

            .icon-social-style-f:hover {
                background: #1877f2;
            }

            .icon-social-style-in:hover {
                background: #EE3567;
            }

            .icon-social-style-t:hover {
                background: #1DA1F2;
            }

            .icon-social-style-link:hover {
                background: #0077B5;
            }
            .icon-social-style-y:hover {
                background: #fE4444;
            }
            .content {
                display: none;
              }
              
            .contentBuy {
                display: none;
              }
            .contentRent {
                display: none;
              }

       
            
